<!-- footer -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<a href="/cantalupi/" class="brand"><svg class="cantalupi-light-engineering"><use xlink:href="#cantalupi-light-engineering"></use></svg></a>
			</div>
			<div class="col-md-2">
				<ul class="nav--menu-tertiary">
					<li><a href="/cantalupi/exclusive-yachts-exteriors.html">Yachts Collections Interiors</a></li>
					<li><a href="/cantalupi/exclusive-yachts-exteriors.html">Yachts Collections Exteriors</a></li>
					<li><a href="#">Villas Collections Interiors</a></li>
					<li><a href="#">Villas Collections Exteriors</a></li>
					<li><a href="#">Otto-Portable</a></li>
					<li><a href="/cantalupi/bespoke.html">Bespoke</a></li>
					<li><a href="#">Lighting Surfaces</a></li>
					<li><a href="#">Straight Track</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="nav--menu-tertiary">
					<li><a href="/cantalupi/we-know-light.html">We know light</a></li>
					<li><a href="/cantalupi/heritage.html">Heritage</a></li>
					<li><a href="/cantalupi/how-we-do.html">How We Do</a></li>
					<li><a href="/cantalupi/cantalupi-world.html">Cantalupi World</a></li>
					<li><a href="/cantalupi/contacts.html">Contacts</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<div class="group--address">
					Via Fosso Legnami, 217<br />
					55054 Piano di Mommio (LU)<br />
					Italy<br />
					<br />
					<a class="btn" href="tel:0039058442791">+39 0584 42791</a><br />
				</div>
			</div>
			<div class="col-md-4">
				<div class="group--newsletter">
					<div class="title">Resta aggiornato sulle notizie, sulle iniziative e sui nostri prodotti, iscriviti alla newsletter: riceverai il meglio di Cantalupi.</div>
					<div class="group--cta">
						<a href="#" class="btn--link">Iscriviti alla nostra newsletter</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="group--colophon">© All Rights Reserved. Cantalupi Lighting S.r.l. - Cod.Fisc. P.IVA</div>
			</div>
			<div class="col-md-2">
				<div class="nav--social">
					<li><a href="#"><svg class="facebook"><use xlink:href="#facebook"></use></svg></a></li>
					<li><a href="#"><svg class="instagram"><use xlink:href="#instagram"></use></svg></a></li>
					<li><a href="#"><svg class="pinterest"><use xlink:href="#pinterest"></use></svg></a></li>
					<li><a href="#"><svg class="youtube"><use xlink:href="#youtube"></use></svg></a></li>
					<li><a href="#"><svg class="linkedin"><use xlink:href="#linkedin"></use></svg></a></li>
				</div>
			</div>
			<div class="col-md-4">
				<div class="group--credits">credits</div>
			</div>
		</div>
	</div>
</footer>
