<div class="slider__container" slider [items]="sliderItems" (tween)="onTween($event)" (change)="onChange($event)" *if="sliderItems">
	<div class="slider__wrapper" [style]="{ 'transform': 'translate3d(' + -100 * state.index + '%, 0, 0)'}">
		<div class="slider__inner">
			<div class="slider__slide" *for="let item of items; let index = index;">
				<div class="picture">
					<img [src]="'/cantalupi/img/how-we-do/0' + item + '.jpg'" ondragstart="return false;" />
				</div>
			</div>
		</div>
	</div>
	<div class="slider__pagination">
		<button type="button" class="btn--prev" [class]="{ disabled: !hasPrev() }" (click)="navTo(state.index - 1)">
			<svg class="arrow-left"><use xlink:href="#caret-down"></use></svg>
		</button>
		<button type="button" class="btn--next" [class]="{ disabled: !hasNext() }" (click)="navTo(state.index + 1)">
			<svg class="arrow-right"><use xlink:href="#caret-down"></use></svg>
		</button>
	</div>
	<div class="slider__bullets">
		<span class="slider__bullet" [class]="{ active: index === state.index }" *for="let item of items; let index = index;" (click)="navTo(index)"></span>
	</div>
</div>
