.section--cover {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: black;
	color: white;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
		}

		&>img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: none;
			@extend %lazy;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		max-width: 1330px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.brand {
		opacity: 0;

		svg {
			width: 130px * 1.5;
			height: 35px * 1.5;
		}
	}

	.title {
		font-family: $font-secondary;
		font-style: italic;
		font-size: 87px;
		line-height: 1.3;
		text-align: center;
		text-transform: uppercase;

		position: relative;
		overflow: hidden;
		flex: none;

		animation: title-animation 10000ms cubic-bezier(.5, 0, .5, 1) both;

		&.splitting .char {
			position: relative;
			display: inline;
			opacity: 0;
			animation: slide-in 1000ms cubic-bezier(.5, 0, .5, 1) both;
			animation-delay: calc(15ms * var(--char-index) + 1500ms);
		}
	}

	.btn--skip {
		@extend %btn;
		font-family: $font-secondary;
		opacity: 0;

		&,
		&:active,
		&:focus,
		&:visited {
			color: rgba(white, 0.5);
		}

		&:hover {
			color: white;
		}
	}

	@include media-up(lg) {
		.title {
			font-style: 87px;
		}
	}

	@include media-between(sm, lg) {
		.title {
			font-size: 5.5vw;
		}
	}

	@include media-between(xs, sm) {
		.title {
			font-size: 60px;
		}
	}

	@include media-down(xs) {
		.title {
			font-size: 40px;
			line-height: 1.2;
		}
	}

	// .group--cta {}
}

@keyframes slide-in {
	from {
		transform: translateY(1em);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes title-animation {
	0% {
		opacity: 0;
		transform: scale(1);
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}
