.emotional-page {
	background: #000001;
	color: white;

	.container {
		z-index: 1;
	}
}

.section--hero-emotional {
	position: relative;
	display: flex;
	flex-direction: column;
	color: white;
	min-height: 100vh;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;

		&>img {
			object-fit: cover;
			@extend %lazy;
		}
	}

	.container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 120px;
	}

	.category {
		font-family: $font-secondary;
		font-style: italic;
		font-size: 18px;
		text-transform: uppercase;
	}

	.title {
		font-family: $font-secondary;
		font-style: italic;
		font-size: 120px;
		line-height: 1.1;
		text-transform: uppercase;
	}

	@include media-up(lg) {
		.title {
			font-style: 120px;
		}
	}

	@include media-between(sm, lg) {
		.title {
			font-size: 8vw;
		}
	}

	@include media-between(xs, sm) {
		.title {
			font-size: 80px;
		}
	}

	@include media-down(xs) {
		.title {
			font-size: 60px;
			line-height: 1.2;
		}
	}

	// .group--cta {}
}

.section--intro {
	padding: 120px 0 0 0;

	.category {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.abstract {
		font-family: $font-secondary;
		font-style: italic;
		font-size: 36px;
		line-height: 1.15;
		margin-bottom: 20px;
	}

	.description {
		font-size: 16px;
	}

}

%emotional-background {
	@include media-up(md) {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		width: 100%;
		display: flex;
		align-items: center;

		img {
			width: 100%;
		}
	}
}

%emotional-container {
	@include media-up(md) {
		margin-top: 120px;
		margin-bottom: 120px;
	}

	/*
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%) translateY(-50%);
	*/
}

%emotional-title {
	font-family: $font-secondary;
	font-style: italic;
	font-size: 74px;
	line-height: 1.15;

	@include media-up(lg) {
		font-size: 74px;
	}

	@include media-between(md, lg) {
		font-size: 4vw;
	}

	@include media-down(sm) {
		font-size: 37px;
	}
}

.group--picture {
	display: flex;
	flex-direction: column;
	align-items: center;

	.background {
		@extend %emotional-background;
	}

	.title {
		@extend %emotional-title;
	}
}

.section--text-picture-01 {
	position: relative;
	padding: 120px 0;

	.background {
		@extend %emotional-background;

		@include media-down(sm) {
			transform: scale(1.5);
			transform-origin: right;
		}
	}

	.container {
		@extend %emotional-container;
	}

}

.section--text-picture-02 {
	position: relative;

	.background {
		@extend %emotional-background;

		@include media-down(sm) {
			transform: scale(1.5);
			transform-origin: right;
		}
	}

	.container {
		@extend %emotional-container;
	}

	.group--inline {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 80px 0;
	}

	.title {
		@extend %emotional-title;
	}

	.abstract {
		font-size: 21px;
		line-height: 1.4;
	}

	@include media-up(md) {
		.group--text {
			@include as-col(3, 12, 12px);
			@include as-offset(1, 12);
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	@include media-down(sm) {
		.group--text {
			@include as-col(12, 12, 0);
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
}

.section--text-picture-03 {
	position: relative;

	.background {
		@extend %emotional-background;

		@include media-down(sm) {
			transform: scale(1.5);
			transform-origin: left;
		}
	}

	.container {
		@extend %emotional-container;
	}

	.group--inline {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 80px 0;
	}

	.title {
		@extend %emotional-title;
	}

	.abstract {
		font-size: 21px;
		line-height: 1.4;
	}

	.group--cta {
		margin-top: 30px;
	}

	@include media-up(md) {
		.group--text {
			@include as-col(4, 12, 12px);
			@include as-offset(7, 12);
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	@include media-down(sm) {
		.group--text {
			@include as-col(12, 12, 0);
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
}

.section--text-picture-04 {

	.background {
		@extend %emotional-background;
	}

	.group--inline {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 80px 0;
	}

	.title {
		@extend %emotional-title;
	}

	@include media-up(md) {
		.group--picture {
			@include as-col(10, 12, 12px);
			@include as-offset(1, 12);
		}

		.group--content {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.group--title {
			@include as-col(3, 12, 12px);
			@include as-offset(1, 12);
		}

		.group--abstract {
			@include as-col(7, 12, 12px);
		}
	}

	@include media-down(sm) {
		.group--picture {
			@include as-col(12, 12, 0);
		}

		.group--content {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.group--title {
			@include as-col(12, 12, 0);
		}

		.group--abstract {
			@include as-col(12, 12, 0);
		}
	}
}

.section--text-picture-05 {

	.background {
		@extend %emotional-background;
	}

	.group--inline {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 80px 0;
	}

	.title {
		@extend %emotional-title;
	}

	.group--cta {
		margin-top: 40px;
	}

	@include media-up(md) {
		.group--picture {
			@include as-col(3, 12, 12px);
			@include as-offset(2, 12);
		}

		.group--text {
			@include as-col(4, 12, 12px);
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	@include media-down(sm) {
		.group--picture {
			@include as-col(12, 12, 0);
		}

		.group--text {
			@include as-col(12, 12, 0);
		}
	}
}

.lazy-picture {
	position: relative;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%);
	}
}
