.section--hero-how-we-do {
	@extend .section--hero-products;
}

.section--submenu {
	padding: 80px 0;
}

.nav--submenu {
	@extend %nav;
	justify-content: space-between;
	align-items: center;

	&>li {
		@extend %nav-item;
		flex-grow: 0;

		&>a {
			@extend %btn;
			font-family: $font-secondary;
			font-style: italic;
			line-height: 1;

			&,
			&:active,
			&:focus,
			&:visited,
			&:hover {
				color: #1D1D1B;
			}

			&:hover,
			&.active {
				color: #A28850;
			}
		}

		&.spacer {
			flex-grow: 0;
			display: block;
			flex: 0 0 30px;
			width: 30px;
			height: 1px;
			background: #c0c6c7;

			&:last-child {
				display: none;
			}
		}

		@include media-up(lg) {
			&>a {
				font-size: 36px;
			}
		}

		@include media-between(md, lg) {
			&>a {
				font-size: 1.85vw;
			}

		}

		@include media-down(sm) {
			&>a {
				font-size: 18px;
			}
		}
	}
}

.nav--share {
	@extend %nav;
	justify-content: space-around;

	&>li {
		@extend %nav-item;
		flex-grow: 0;

		&>a {
			@extend %btn;

			svg {
				max-width: 16px;
				max-height: 16px;
				fill: $foreground;
			}
		}
	}
}
