.section--hero-series {
	@extend .section--hero-products;
}

.section--cards {
	padding: 80px 0 130px 0;

	@include media-down(sm) {
		padding: 40px 0 60px 0;
	}
}

.listing--cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	&__item {
		width: 100%;
		flex: 0 0 360px;
		max-width: 360px;
		margin-bottom: 30px;
	}

	@include media-down(sm) {
		align-items: flex-start;

		&__item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

.card--picture {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: ease-in-out all 350ms;
	padding: 30px;
	cursor: pointer;

	.picture {
		@include aspect-clip(1, 1);
		margin-bottom: 40px;

		img {
			transform: scale(0.8);
			transition: ease-in-out all 350ms;
		}
	}

	.title {
		font-size: 21px;
		color: #03191D;
		text-transform: uppercase;
		opacity: 0;
		transition: ease-in-out all 350ms;
	}

	&:hover {
		box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.15);

		.picture {
			img {
				transform: scale(1);
			}
		}

		.title {
			opacity: 1;
		}
	}

	@include media-down(sm) {
		padding: 0 12px;
		box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.15);

		.picture {
			img {
				transform: none;
			}
		}

		.title {
			min-height: 38px;
			margin-bottom: 10px;
			font-size: 13px;
			text-align: center;
			opacity: 1;
		}
	}
}

.container--outer {
	position: relative;

	.background {
		position: absolute;
		display: flex;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.container--outer {
	.background {
		@include as-col(5, 12, 0px);
		@include as-offset(7, 12);
		height: 100%;
		/*
		right: 0;
		top: 0;
		width: 42.6%;
		height: 100%;
		*/
	}
}

.expand--right {
	@include expand-right();

	&.picture {
		display: flex;

		&>img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.expand--left {
	@include expand-left();

	&.picture {
		display: flex;

		&>img {
			width: 100%;
			object-fit: cover;
		}
	}
}

.section--intro-02 {
	padding: 120px 0 0 0;

	&:last-child {
		padding-bottom: 120px;
	}

	.title {
		font-family: $font-secondary;
		font-size: 54px;
		font-style: italic;
		line-height: 1.1;
		margin-bottom: 30px;
		color: #03191D;
	}

	.category {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.abstract {
		font-family: $font-secondary;
		font-style: italic;
		font-size: 36px;
		line-height: 1.15;
		margin-bottom: 20px;

		p {
			margin: 0 0 30px 0;
		}
	}

	.description {
		font-size: 21px;
		line-height: 1.42;
		margin-bottom: 40px;

		p {
			margin: 0 0 30px 0;
		}

		ul,
		ol {
			@extend %nav-vertical;
			align-items: flex-start;
			margin-bottom: 30px;

			&>li {
				@extend %nav-item;
				display: flex;
				align-items: center;
			}
		}

		ol {
			&>li {
				font-family: $font-secondary;
				font-size: 24px;
				font-style: italic;
				line-height: 1.1;
				margin-bottom: 10px;

				&:before {
					content: '';
					display: block;
					background: $foreground;
					flex: 0 0 0.5em;
					width: 0.5em;
					height: 1px;
					margin-right: 10px;
				}
			}
		}

		ul {
			&>li {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 10px;

				&:before {
					content: '';
					display: block;
					flex: 0 0 10px;
					width: 10px;
					height: 10px;
					border-radius: 5px;
					background: #A28850;
					margin-right: 15px;
				}
			}
		}
	}

	.group--cta {
		@include media-up(md) {
			.btn--contact {
				margin-right: 30px;
			}
		}
	}

	@include media-down(sm) {
		padding: 60px 0 0 0;

		&:last-child {
			padding-bottom: 60px;
		}

		.picture {
			margin-bottom: 25px;
		}
	}
}

.section--picture-full {
	padding: 120px 0 0 0;

	@include media-down(sm) {
		padding: 60px 0 0 0;

		.picture {
			@include aspect-clip(1, 1);
		}
	}
}

[gallery] {
	position: relative;
	cursor: pointer;

	.btn--gallery {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		pointer-events: none;
	}
}
