.slider__container {
	position: relative;
	overflow: hidden;

	&.dragging {
		.slider__wrapper {
			transition: none;
		}

		.slider__inner {
			pointer-events: none;
		}

		.slider__slide {
			pointer-events: none;
		}
	}
}

.slider__wrapper {
	width: 100%;
	transition: transform ease-out 600ms;
	// pointer-events: none;
}

.slider__inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	white-space: nowrap;
}

.slider__slide {
	display: inline-block;
	width: 100%;
	user-select: none;
	-webkit-user-drag: none;
	// pointer-events: none;
	cursor: pointer;
}

.slider__bullets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 17px 20px;
}

.slider__bullet {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	background: transparent;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8px;
		height: 8px;
		margin-left: -4px;
		margin-top: -4px;
		border-radius: 4px;
		background: rgba(white, 0.5);
	}

	&:hover,
	&.active {
		&:after {
			background: #A28850;
		}
	}
}

.slider__pagination {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -6px;
	padding: 0 10px;
	pointer-events: none;

	.btn--prev,
	.btn--next {
		pointer-events: all;
		// mix-blend-mode: difference;
		// opacity: 0.3;

		&.disabled {
			pointer-events: none;
			visibility: hidden;
		}
	}

	svg {
		width: 40px;
		height: 40px;
		fill: rgba(255, 255, 255, 0.5);
		stroke: rgba(0, 0, 0, 0.4);
		stroke-width: 1;
	}

}

.slider__slide {
	display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
